<!DOCTYPE html>

<html>
    <body>
     	<table>
      	    <thead>
       	        <tr>
       	            <th> User </th>
        	        <th> Zipcode </th>
        	        <th> Country </th>
        	        <th> City </th>
        	    </tr>
            </thead>
       	    <tbody>
      	 	    {% for row in rows %}
        	        <tr>
        	            <td> {{ row.user }} </td>
        	            <td> {{ row.zipcode }} </td>
        	            <td> {{ row.country }} </td>
        	            <td> {{ row.city }} </td>
        	        </tr>
        	    {% endfor %}
        	</tbody>
        </table>
        <br>
        <p> Manufacturers whose cars names contain defined symbols: {{ res }}</p>
        <p> Pizzas with several toppings: {{ res1 }}</p>
        <p> Restaurants with defined address: {{ res2 }}</p>
    </body>
</html>